[submodule "ext/FTXUI"]
	path = ext/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "ext/rapidyaml"]
	path = ext/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
